body{
  background-color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
}

h4{
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  border-collapse: collapse;
  text-align: center;
}

table, td, th {
  border: 1px solid;
}

td, th {
  padding: 0 10px;
}

form{
  display: flex;
  flex-direction: column;
}
.form-label{
  display: inline-block;
  width : 150px;
  padding: 5px;
}

.form-input{
  width: 200px;
}

.form-button{
  margin: 20px auto;
}

.form-message{
   padding: 5px;
}

.form-required{
  font-size: .6em;
}

select.form-input{
  width: 205px;
}

.search-inputs{
  display: inline-block;
  width : 120px;
  padding: 2px;
}

.error-message{
  color: red;
  padding-left: 8px;
  padding-bottom: 5px;
}


.success-message{
  color: green;
  padding-left: 8px;
  padding-bottom: 5px;
}

#readonly{
  color: brown;
}

#input-readonly{
  background-color: rgb(228, 228, 228);
}

#product-id{
  display: flex;
  justify-content: center ;
  padding-bottom: 20px;
}

nav {
  min-width: 400px;
  padding-bottom: 10px;
}
nav ul{
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav li{
  padding: 5px 10px;
  list-style-type: none;
}